*{
    margin: 0;
    padding: 0;
    font-family: GohuFont 11 Nerd Font Propo ,Arial, Helvetica, sans-serif;
}
main{
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 222, 226);
    color: rgb(80, 147, 195);
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.all{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.timer{
    font-size: 5em;
    /*
    border: 2px solid gray;
    border-radius: 10%;*/
}
.control{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.buttons img{
    cursor: pointer;
}
